<div ref:self role="progressbar" class="mdc-linear-progress">
    <div class="mdc-linear-progress__buffering-dots"></div>
    <div class="mdc-linear-progress__buffer"></div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
    </div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
    </div>
</div>

<script>
import { MDCLinearProgress } from '@material/linear-progress'

export default {
  data () {
    return {
      mdcLinearProgress: null,
      open: false,
      indeterminate: false,
      reverse: false,
      progress: 0,
      buffer: 0
    }
  },

  onstate({ changed }) {
    this.updateMDCLinearProgress(changed);
  },

  oncreate () {
    this.set({mdcLinearProgress: MDCLinearProgress.attachTo(this.refs.self)});

    this.updateMDCLinearProgress(this.get());
  },

  ondestroy () {
    this.mdcLinearProgress.destroy();
  },

  methods: {
    show () {
      this.mdcLinearProgress.open()
    },
    hide () {
      this.mdcLinearProgress.close()
    },
    updateMDCLinearProgress() {
      this.mdcLinearProgress.progress(this.progress)
      this.mdcLinearProgress.buffer(this.buffer)
      this.mdcLinearProgress.determinate = !this.indeterminate
      this.mdcLinearProgress.reverse = this.reversed
      this.open ? this.mdcLinearProgress.open() : this.mdcLinearProgress.close()
    }
  }
}
</script>

<style lang="scss">
@import "@material/linear-progress/mdc-linear-progress";
</style>
