<li class="mdc-list-item {classes}" aria-selected={selected}>
  {#if icon}
  <MIcon {icon} />
  {/if}

  <slot />
</li>

<script>
  export default {
    data() {
      return {
        selected: false,
        icon: null,
      }
    },
    computed: {
      classes({icon, selected}) {
        const classes = []

        if (icon) classes.push('mdc-list-item__graphic')
        if (selected) classes.push('mdc-list-item--selected')
      }
    },
    components: {
      MIcon: '../Icon/MIcon.html'
    }
  }
</script>
