<div class="mdc-card">
  <div class="&#123;isHorizontal}">
    <section class="mdc-card__primary">
      &#123;#if slots['media']}
      <section class="mdc-card__media">
        <slot name="media" />
      </section>
      &#123;/if}
      &#123;#if slots['title']}
      <div class="mdc-card__title&#123;classesTitle}">
        <slot name="title" />
      </div>
      &#123;/if}
      &#123;#if slots['subtitle']}
      <div class="mdc-card__subtitle">
        <slot name="subtitle" />
      </div>
      &#123;/if}
    </section>
  </div>

  &#123;#if slots['supportingText']}
  <section class="mdc-card__supporting-text">
    <slot name="supportingText" />
  </section>
  &#123;/if}

  &#123;#if slots['actions']}
  <section class="mdc-card__actions&#123;classesActions}">
    <slot name="actions" />
  </section>
  &#123;/if}

</div>

<script>
export default {
  data () {
    return {
      classList: [],
      slots: [],
      verticalActions: '',
      largeTitle: 'yes',
      horizontal: ''
    }
  },
  oncreate () {
    this.set({ slots: this.options.slots })
  },
  computed: {
    isHorizontal: ({horizontal}) => horizontal && 'mdc-card__horizontal-block',
    classesActions: ({verticalActions}) => verticalActions && 'mdc-card__actions--vertical',
    classesTitle: ({largeTitle}) => largeTitle && 'mdc-card__title--large'
  }
}
</script>

<style type='scss'>
@import "@material/card/mdc-card";
</style>
